* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
main {
  background-color: gray;
  border-top: 10px solid darkslategray;
  height: 100%;
  padding-top: 100px;
}

strong {
  color: seagreen;
}

.intro-chunk {
  padding: 20px;
  max-width: 500px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 50px;
}

.card {
  padding: 20px;
  padding-top: 5px;
  background-color: white;
  border-bottom: 10px solid darkslategray;
}

.intro-text {
  padding-right: 40px;
}

p {
  font-size: 1.2em;
  margin-top: 1em;
}

.indented-heading {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #f2bb30;
  border-bottom: 8px solid #ac965e;
  margin-left: -35px;
  padding: 25px 30px;
}

.max-width-wrapper {
  max-width: 85ch;
  margin: 0 auto;
}
